@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 34 100% 28%;
    --onPrimary: 0 0% 100%;
    --primaryContainer: 27 100% 88%;
    --onPrimaryContainer: 29 100% 9%;
    --secondary: 27 26% 36%;
    --onSecondary: 0 0% 100%;
    --secondaryContainer: 27 100% 88%;
    --onSecondaryContainer: 31 74% 9%;
    --tertiary: 73 26% 30%;
    --onTertiary: 0 0% 100%;
    --tertiaryContainer: 71 54% 81%;
    --onTertiaryContainer: 74 100% 6%;
    --error: 0 75% 42%;
    --onError: 0 0% 100%;
    --errorContainer: 6 100% 92%;
    --onErrorContainer: 358 100% 13%;
    --background: 300 100% 99%;
    --onBackground: 27 16% 11%;
    --surface: 300 100% 99%;
    --onSurface: 27 16% 11%;
    --surfaceVariant: 25 56% 88%;
    --onSurfaceVariant: 26 17% 27%;
    --outline: 25 11% 46%;
    --outlineVariant: 25 27% 77%;
    --shadow: 0 0% 0%;
    --scrim: 0 0% 0%;
    --inverseSurface: 24 10% 19%;
    --inverseOnSurface: 25 66% 94%;
    --inversePrimary: 29 100% 73%;
    --primaryFixed: 27 100% 88%;
    --primaryFixedDim: 29 100% 73%;
    --onPrimaryFixed: 29 100% 9%;
    --onPrimaryFixedVariant: 33 100% 21%;
    --secondaryFixed: 27 100% 88%;
    --secondaryFixedDim: 27 52% 76%;
    --onSecondaryFixed: 31 74% 9%;
    --onSecondaryFixedVariant: 29 33% 26%;
    --tertiaryFixed: 71 54% 81%;
    --tertiaryFixedDim: 72 33% 70%;
    --onTertiaryFixed: 74 100% 6%;
    --onTertiaryFixedVariant: 72 36% 21%;
    --surfaceDim: 23 24% 85%;
    --surfaceBright: 18 100% 98%;
    --surfaceContainerLowest: 0 0% 100%;
    --surfaceContainerLow: 22 83% 95%;
    --surfaceContainer: 23 53% 93%;
    --surfaceContainerHigh: 23 39% 91%;
    --surfaceContainerHighest: 22 33% 89%;
    --success: 142 72% 29%;
    --onSuccess: 138 76% 97%;
    --successContainer: 119 85% 79%;
    --onSuccessContainer: 129 100% 6%;
    --info: 217 91% 60%;
    --onInfo: 214 100% 97%;
    --infoContainer: 203 100% 88%;
    --onInfoContainer: 198 100% 8%;
    --warning: 32 95% 44%;
    --onWarning: 48 100% 97%;
    --warningContainer: 40 100% 81%;
    --onWarningContainer: 22 78% 26%;
    --radius: 0rem;
  }
  .dark {
    --primary: 29 100% 73%;
    --onPrimary: 32 100% 15%;
    --primaryContainer: 33 100% 21%;
    --onPrimaryContainer: 27 100% 88%;
    --secondary: 27 52% 76%;
    --onSecondary: 29 44% 18%;
    --secondaryContainer: 29 33% 26%;
    --onSecondaryContainer: 27 100% 88%;
    --tertiary: 72 33% 70%;
    --onTertiary: 73 55% 13%;
    --tertiaryContainer: 72 36% 21%;
    --onTertiaryContainer: 71 54% 81%;
    --error: 6 100% 84%;
    --onError: 357 100% 21%;
    --errorContainer: 356 100% 29%;
    --onErrorContainer: 6 100% 84%;
    --background: 27 16% 11%;
    --onBackground: 22 33% 89%;
    --surface: 27 16% 11%;
    --onSurface: 22 33% 89%;
    --surfaceVariant: 26 17% 27%;
    --onSurfaceVariant: 25 27% 77%;
    --outline: 26 13% 56%;
    --outlineVariant: 26 17% 27%;
    --shadow: 0 0% 0%;
    --scrim: 0 0% 0%;
    --inverseSurface: 22 33% 89%;
    --inverseOnSurface: 24 10% 19%;
    --inversePrimary: 34 100% 28%;
    --primaryFixed: 27 100% 88%;
    --primaryFixedDim: 29 100% 73%;
    --onPrimaryFixed: 29 100% 9%;
    --onPrimaryFixedVariant: 33 100% 21%;
    --secondaryFixed: 27 100% 88%;
    --secondaryFixedDim: 27 52% 76%;
    --onSecondaryFixed: 31 74% 9%;
    --onSecondaryFixedVariant: 29 33% 26%;
    --tertiaryFixed: 71 54% 81%;
    --tertiaryFixedDim: 72 33% 70%;
    --onTertiaryFixed: 74 100% 6%;
    --onTertiaryFixedVariant: 72 36% 21%;
    --surfaceDim: 23 21% 7%;
    --surfaceBright: 27 10% 22%;
    --surfaceContainerLowest: 23 29% 5%;
    --surfaceContainerLow: 30 16% 12%;
    --surfaceContainer: 30 14% 14%;
    --surfaceContainerHigh: 27 13% 16%;
    --surfaceContainerHighest: 27 10% 21%;
    --success: 142 77% 73%;
    --onSuccess: 144 61% 20%;
    --successContainer: 142 72% 29%;
    --onSuccessContainer: 141 79% 85%;
    --info: 212 96% 78%;
    --onInfo: 224 64% 33%;
    --infoContainer: 224 76% 48%;
    --onInfoContainer: 213 97% 87%;
    --warning: 46 97% 65%;
    --onWarning: 22 78% 26%;
    --warningContainer: 26 90% 37%;
    --onWarningContainer: 48 97% 77%;
    --radius: 0rem;
  }

  * {
    /* border: 2px solid red; */
    border-color: theme(colors.outline);
  }
  body {
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  h1 {
    font-size: theme(fontSize.display-lg);
    line-height: theme(fontSize.display-lg);
  }

  h2 {
    font-size: theme(fontSize.display-md);
    line-height: theme(fontSize.display-md);
  }

  h4 {
    font-size: theme(fontSize.title-lg);
    line-height: theme(fontSize.title-lg);
  }
}

@layer utilities {
  .card {
    background-color: theme(colors.surfaceContainer);
  }

  .balance {
    text-wrap: balance;
  }

  .muted {
    color: theme(colors.outline);
  }
  .muted-bg {
    background-color: theme(colors.outline / 12%);
  }
}
