@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 0 0% 0%;
    --white: 0 0% 100%;

    --background: var(--white);
    --foreground: var(--black);

    --hover: 0 0% 95%;
    --border: var(--black);

    --muted: 0 0% 85%;
    --muted-foreground: var(--foreground) / 0.6;

    --popover: var(--white);
    --popover-foreground: var(--black);

    --card: var(--white);
    --card-foreground: var(--black);

    --primary: var(--white);
    --primary-foreground: var(--black);

    --secondary: var(--white);
    --secondary-foreground: var(--black);

    --accent: 136 89% 85%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 99% 67%;
    --destructive-foreground: 0 86% 59%;

    --success: 162 48% 45%;
    --success-foreground: 161 94% 30%;

    --error: 0 84% 60%;
    --error-foreground: 0 86% 59%;

    --warning: 38 92% 50%;
    --warning-foreground: 32 95% 44%;

    --ring: var(--accent) / 0.8;

    --radius: 0.5rem;
  }

  .dark {
    --black: 251 24% 9%;
    --white: 214 30% 91%;

    --background: var(--black);
    --foreground: var(--white);

    --hover: 251 15% 14%;
    --border: var(--white);

    --muted: 248 8% 23%;
    --muted-foreground: var(--foreground) / 0.6;

    --popover: var(--black);
    --popover-foreground: var(--white);

    --card: var(--black);
    --card-foreground: var(--white);

    --primary: var(--black);
    --primary-foreground: var(--white);

    --secondary: var(--black);
    --secondary-foreground: var(--white);

    --accent: 136 89% 85%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 100% 70%;

    --success: 162 48% 45%;
    --success-foreground: 156 72% 67%;

    --error: 0 84% 60%;
    --error-foreground: 0 100% 83%;

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --ring: var(--accent) / 0.8;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: theme(colors.border);
  }
  body {
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  h1 {
    font-size: theme(fontSize.4xl);
    font-weight: theme(fontWeight.bold);
    letter-spacing: theme(spacing.0);
  }
}
