@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 189 100% 24%;
    --onPrimary: 0 0% 100%;
    --primaryContainer: 194 100% 84%;
    --onPrimaryContainer: 191 100% 7%;
    --secondary: 194 17% 35%;
    --onSecondary: 0 0% 100%;
    --secondaryContainer: 195 51% 87%;
    --onSecondaryContainer: 192 72% 8%;
    --tertiary: 232 18% 42%;
    --onTertiary: 0 0% 100%;
    --tertiaryContainer: 235 100% 94%;
    --onTertiaryContainer: 230 49% 15%;
    --error: 0 75% 42%;
    --onError: 0 0% 100%;
    --errorContainer: 6 100% 92%;
    --onErrorContainer: 358 100% 13%;
    --background: 210 33% 99%;
    --onBackground: 195 7% 11%;
    --surface: 210 33% 99%;
    --onSurface: 195 7% 11%;
    --surfaceVariant: 195 20% 88%;
    --onSurfaceVariant: 195 9% 27%;
    --outline: 195 5% 46%;
    --outlineVariant: 195 10% 77%;
    --shadow: 0 0% 0%;
    --scrim: 0 0% 0%;
    --inverseSurface: 195 4% 19%;
    --inverseOnSurface: 200 10% 94%;
    --inversePrimary: 192 89% 65%;
    --surfaceDim: 200 4% 85%;
    --surfaceBright: 220 27% 98%;
    --surfaceContainerLowest: 0 0% 100%;
    --surfaceContainerLow: 200 13% 95%;
    --surfaceContainer: 200 9% 93%;
    --surfaceContainerHigh: 200 6% 91%;
    --surfaceContainerHighest: 200 5% 89%;
    --success: 130 45% 29%;
    --onSuccess: 0 0% 100%;
    --successContainer: 121 77% 82%;
    --onSuccessContainer: 133 100% 6%;
    --info: 212 100% 38%;
    --onInfo: 0 0% 100%;
    --infoContainer: 225 100% 92%;
    --onInfoContainer: 216 100% 13%;
    --warning: 32 100% 28%;
    --onWarning: 0 0% 100%;
    --warningContainer: 25 100% 88%;
    --onWarningContainer: 27 100% 9%;
    --primaryFixed: 194 100% 84%;
    --primaryFixedDim: 192 89% 65%;
    --onPrimaryFixed: 191 100% 7%;
    --onPrimaryFixedVariant: 190 100% 18%;
    --secondaryFixed: 195 51% 87%;
    --secondaryFixedDim: 193 26% 76%;
    --onSecondaryFixed: 192 72% 8%;
    --onSecondaryFixedVariant: 194 23% 26%;
    --tertiaryFixed: 235 100% 94%;
    --tertiaryFixedDim: 233 52% 84%;
    --onTertiaryFixed: 230 49% 15%;
    --onTertiaryFixedVariant: 231 23% 32%;
    --radius: 1rem;
  }
  .dark {
    --primary: 192 89% 65%;
    --onPrimary: 189 100% 13%;
    --primaryContainer: 190 100% 18%;
    --onPrimaryContainer: 194 100% 84%;
    --secondary: 193 26% 76%;
    --onSecondary: 192 33% 17%;
    --secondaryContainer: 194 23% 26%;
    --onSecondaryContainer: 195 51% 87%;
    --tertiary: 233 52% 84%;
    --onTertiary: 232 31% 23%;
    --tertiaryContainer: 231 23% 32%;
    --onTertiaryContainer: 235 100% 94%;
    --error: 6 100% 84%;
    --onError: 357 100% 21%;
    --errorContainer: 356 100% 29%;
    --onErrorContainer: 6 100% 84%;
    --background: 195 7% 11%;
    --onBackground: 200 5% 89%;
    --surface: 195 7% 11%;
    --onSurface: 200 5% 89%;
    --surfaceVariant: 195 9% 27%;
    --onSurfaceVariant: 195 10% 77%;
    --outline: 195 5% 56%;
    --outlineVariant: 195 9% 27%;
    --shadow: 0 0% 0%;
    --scrim: 0 0% 0%;
    --inverseSurface: 200 5% 89%;
    --inverseOnSurface: 195 4% 19%;
    --inversePrimary: 189 100% 24%;
    --surfaceDim: 195 11% 7%;
    --surfaceBright: 192 4% 22%;
    --surfaceContainerLowest: 192 19% 5%;
    --surfaceContainerLow: 195 6% 12%;
    --surfaceContainer: 195 6% 14%;
    --surfaceContainerHigh: 204 6% 16%;
    --surfaceContainerHighest: 195 4% 20%;
    --success: 122 47% 71%;
    --onSuccess: 138 100% 11%;
    --successContainer: 137 80% 18%;
    --onSuccessContainer: 121 77% 82%;
    --info: 222 100% 84%;
    --onInfo: 214 100% 21%;
    --infoContainer: 213 100% 29%;
    --onInfoContainer: 225 100% 92%;
    --warning: 27 100% 75%;
    --onWarning: 30 100% 15%;
    --warningContainer: 31 100% 22%;
    --onWarningContainer: 25 100% 88%;
    --radius: 1rem;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    /* border: 2px solid red; */
    border-color: theme(colors.outline);
  }
  body {
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  h1 {
    font-size: theme(fontSize.display-lg);
    line-height: theme(fontSize.display-lg);
  }

  h2 {
    font-size: theme(fontSize.display-md);
    line-height: theme(fontSize.display-md);
  }

  h4 {
    font-size: theme(fontSize.title-lg);
    line-height: theme(fontSize.title-lg);
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }
}

@layer utilities {
  .balance {
    text-wrap: balance;
  }

  .muted {
    color: theme(colors.outline);
  }
  .muted-bg {
    background-color: theme(colors.outline / 12%);
  }
}
